*{
    margin:0px;
    padding:0px;
}
body{
    height:100vh;
    display:flex;
    flex-direction: column;
}
header{
    height:15%;
    width:100%;
    background-color: darkseagreen;
}
main{
    height:70%;
    width:100%;
    background-color: lightcyan;
    text-align:center;
}
#divXXX > div:nth-child(3){
    margin-left: 1em;
}
#divXXX > div:nth-child(4){
    margin-left: 2em;
}
#divXXX > div{
    margin-top:1em;
}
footer{
    height:15%;
    width:100%;
    background-color: lightslategrey;
}

kbd{
    font-size: 1.5em;
    position:relative;
    display: inline-block;
    width:3em;
    height:3em;
    border:1px solid #F3F3F3;
    border-radius: 0.2em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background-color: #D3D3D3;
    margin-left: 1em;
    text-align: center;
    line-height: 3em;
    text-transform: uppercase;
}

button{
    border-radius: 0.2em;
    border:none;
    bottom:0.2em;
    display:none;
    width:1.3em;
    height:1.2em;
    position:absolute;
    z-index:99;
}
kbd:hover > button{
    display: inline-block;
    z-index:99;
}